<ng-include src="'app/templates/header.tpl.html'"></ng-include>
<div class="content">
<div id="banner">
	<img class="active" src="assets/img/banner1.png">
	<img src="assets/img/banner2.png">
	<img src="assets/img/banner3.png">
</div>
<div class="third-container">
	<div class="page-third first">
		<a href="html/mens.html"><img src="assets/img/blueTell_mens_third.png"></a>
	</div>
	<div class="page-third">
		<a href="html/womens.html"><img src="assets/img/pink_womens_third.png"></a>
	</div>
	<div class="page-third">
		<img src="assets/img/third_place.png">
	</div>
</div>
<div id="featured">
	<a href="html/featured.html"><img src="assets/img/featured_place.png"></a>
</div>
</div>
<ng-include src="'app/templates/footer.tpl.html'"></ng-include>
