<ng-include src="'app/templates/header.tpl.html'"></ng-include>
	<div class="content">

		<div class="mw-tile-container">
		<h1>Men's</h1>
			<div class="page-third first">
				<a href="/bluetell"><img class="third" src="assets/img/blueTell_third.png"></a>
			</div>
			<div class="page-third">
				<a href="/creamhappy"><img class="third" src="assets/img/creamHappy_third.png"></a>
			</div>
			<div class="page-third">
				<a href="/lightblue"><img class="third" src="assets/img/lightBlueThunder_third.png"></a>
			</div>
		</div>
	</div>

	<div class="content">

		<div class="mw-tile-container">
			<div class="page-third first">
				<a href="/yellowdrama"><img class="third" src="assets/img/yellowDrama_third.png"></a>
			</div>
		</div>
	</div>
<ng-include src="'app/templates/footer.tpl.html'"></ng-include>
