<ng-include src="'app/templates/header.tpl.html'"></ng-include>
<div class="content">
	<div class="mw-tile-container">
	<h1>Women's</h1>
		<div class="page-third first">
			<a ui-sref="item({itemName:'pink'})"><img class="third" src="assets/img/pink_third.png"></a>
		</div>
		<div class="page-third">
			<a ui-sref="item({itemName:'white_thunder'})"><img class="third" src="assets/img/whiteThunder_third.png"></a>
		</div>
		<div class="page-third">
			<a ui-sref="item({itemName:'stripe_drama'})"><img class="third" src="assets/img/stripeDrama_third.png"></a>
		</div>

	</div>
</div>
<div class="content"><div class="mw-tile-container"></div></div>
<ng-include src="'app/templates/footer.tpl.html'"></ng-include>
